{% extends 'pages/base23.html' %}
{% block title%}{{product.product_name}}
{%endblock%}
{% block productView %}
{% load static %}
{%block css%}
<style xmlns="http://www.w3.org/1999/html">
.btn-primary {
  background-color: #ff5e14;
}
  .btn btn-primary {
    background-color: #ff5e14;}
#img_prdV{
        border-radius: 5px;
    box-shadow: 0.4em 0.4em 0.4em rgba( 0, 0, 0, 0.3 );
    transition: width 1s, height 2s;
    width:100%;
    height:auto;}
    
#img_prdV:hover{opacity: 0.8; width: 110%; height: 110%;
}
button#popcart {
    background-color: crimson;
    padding:16px;
    margin-top:2px;
}
.popover-body {
    background: yellow;
}
li#hb1{
    margin-top: 4px;
}

li#hb2{
    margin-top: 4px;
}

li#hb3{
    margin-top: 4px;
}
 
li#hb4{
    margin-top: 4px;
}
 

li#hb5{
    margin-top: 4px;
}
#breadcrumb li {
    display: inline;
}
.sp_nut {
    margin-top: 20px;

    /* left: 234px;}
.container-fluid {
    margin: 0px;
    padding: 0px;
}
</style>
{%endblock%}


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=1561521837271142&autoLogAppEvents=1" nonce="7jeisJKo"></script>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=1561521837271142&autoLogAppEvents=1" nonce="dwgl1A1r"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 align-items-center">
            <div class="row ">
                <div id="breadcrumb">
                    <div class="container">
                        <ul class="bread">
                            <li><a href="/">Home/</a></li>
                            <li><a href="/shop">Shop/</a></li>
                            <li><a href="/shop">{{product.categogy}}/</a></li>
                            <li class="activate"><a href="/shop/products/{{product.id}}">{{product.product_name}}</a></li>
                        </ul>
                    </div>
                </div>

                <img class="setting1" id="image" src="/media/{{product.image}}" width="233px" height="385px">
            </div>

            <div class="row">
                <div class="sp_nut">
                    <center>
                    <p>
                        <span id="divpr{{product.id}}" class="divpr">

                    <button id="pr{{product.id}}" class="btn btn-primary">Đặt mua</button></span>
                        <a href="/shop"><button class="btn btn-primary">Back</button></a></p>
                        </center>
                </div>
            </div>

        </div>



        <div style="text-align: justify;" class="col-md-6">
            <h2>{{product.product_name}}</h2>
            <p><b class="gia2">Giá: <span class="myDIV"> {{product.price}} </span> VNĐ</b></p>
              <p>{{product.product_name}}/CPU{{product.cpu}}/Ram{{product.ram}}/HD{{product.hdd}}</p>
            <p>{{product.subcategogy}}</p>
            <div class="fb-like" data-href="http://127.0.0.1:8000/shop/{{product.product_id}}" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true"></div>

            <div class="fb-comments" data-href="http://127.0.0.1:8000/shop/{{product.product_id}}" data-width="" data-numposts="3"></div>
        </div>
    </div>
</div>
<div style="text-align: justify;" class="col-md-12">
               {{product.desc|safe|linebreaks}}

</div>

{%endblock%}




{% block js %}
<script>
//tach so 1000
let x = document.querySelectorAll(".myDIV");
        for (let i = 0, len = x.length; i < len; i++) {
            let num = Number(x[i].innerHTML)
                      .toLocaleString('en');
            x[i].innerHTML = num;
            x[i].classList.add("currSign");
        };
//Het tach
console.log('working');
if(localStorage.getItem('cart') == null){
var cart = {};
}
else
{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
}
$('.cart').click(function(){
console.log('clicked');
var idstr = this.id.toString();
console.log(idstr);
if (cart[idstr] !=undefined){
cart[idstr] = cart[idstr] + 1;
}
else
{
cart[idstr] = 1;
}
console.log(cart);
localStorage.setItem('cart', JSON.stringify(cart));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
});
$('#popcart').popover();
document.getElementById("popcart").setAttribute('data-content', '<h5>Cart for your items in my shopping cart</h5>');
</script>


{%endblock%}
